input:invalid {
  color: red;
}

input:valid {
  color: green;
}

.tarjeta {
  max-height: 200%;
  max-width: 200%;
  margin-left: -40%;
  padding-left: 10px;
  z-index: -1;
}

#tarjetaSVG {
  width: 100%;
  max-width: 507px;
  height: auto;
}

.contenedor {
  width: 100%;
  max-width: 507px;
}

form {
  font-size: 120%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

p {
  font-family: "Times New Roman", Times, serif;
}

form#formulario-pago {
  padding-top: 5%;
}

#formulario-pago {
  max-width: 400px;
  margin: 0 auto;
}

/* Media queries para responsive */
@media screen and (max-width: 768px) {
  #tarjetaSVG {
    max-width: 100%;
  }
  
  .contenedor {
    max-width: 100%;
  }
}


@media screen and (max-width: 494px) {
  p#Fecha-de-Vencimiento-y-CVV {
    margin-left: 5%;
    color: rgb(255, 249, 249);
    margin-top: 10%;
    font-size: 70%;
  }
}
