@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

body {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(75, 14, 154, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  font-family: "Poppins", sans-serif;
}

form {
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  width: 100%;
  border: none;
  border-radius: 50px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(75, 14, 154, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.form-control {
  color: rgba(0, 0, 0, 0.87);
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  box-shadow: none;
}

.form-label {
  font-weight: 800;
}

#formulario-pago {
  max-width: 400px;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  form {
    width: 90%;
  }
}
